body {
    padding: 0;
    margin: 0;
    font-family: Kanit, Times, serif;
    background-color: #e9d18e9d;
    scroll-behavior: smooth;
}
.container-header {
    display: flex;
    margin: .7rem;
    justify-content: center;
    text-align: left;
    padding: auto;
    width: 70%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-page {
    padding: 0 1rem;
    text-align: center;
}
.responsive-container-menu {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    margin: 1.1rem 6rem;
    padding: 0 8px;
}

ul li {
    display: inline;
    padding: 0 2rem;
}
#about-us {
    margin-bottom: 1.3rem;
    padding: .3rem .4rem;
    box-shadow: 5px 2px 8px 3px #010202;
    width: 80%;
    background-color:#e9d18e9d;
    height: max-content;
    margin: auto ;
}
#about-us h2 {
    text-align: center;
    margin: 1rem 0;
    padding: 1.3rem 6em;
    font-size: 1.4rem;
    color: #131313bd;
    letter-spacing: 1.1px;
    font-family: 'Bebas Neue', sans-serif;
}
#about-us small {
    display: flex;
    color: #0e0d0dbd;
    justify-content: center;
}

.nav-menu a {
    color: #03030362;
    padding: 8px;
    border: 1px solid #03030362;
    font-weight: bolder;
    text-decoration: none;
    text-align: right;
    transition: all 0.6s ease;
    font-family: Kanit, 'sans-serif';
    -webkit-box-shadow: 0px 15px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 15px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px -1px rgba(0,0,0,0.75);

}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15%;
}
.hero-image img {
    width: 90%;
    border-radius: 10%;
    -webkit-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
}
.middle-page-section {
    display: flex;
    width: 90%;
    margin: 3.5rem 4rem;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    -webkit-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    box-shadow: 8x 15px 35px -1px rgba(0,0,0,0.75);
    background-image: url(./imgs/contact-us.jpg);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;    
    object-fit: cover;
}

.middle-page-section h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bolder;
    color: #000000b0;
    z-index: 300;
    padding: 1.1em 2em;
    letter-spacing: .09em;
    text-align: center;
    font-size:clamp(1.4rem, 2rem, 3rem);
}
.middle-page-section article {
    margin: 1.4rem 0;
    font-family: Kanit, sans-serif;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
}
.middle-page-section p {
    font-size: 2rem;
}
.middle-page-section article p {
    padding: 3px .5rem;
    display: inline;
    color: #252525;
    background-color:#e9d18e9d; 
    font-weight: bolder;
}
.carousel.slide {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.carousel-item img {
    width: 90%;
    height: 80vh;
}
.carousel-control-next, .carousel-control-prev {
    margin: auto;
    padding: 3.3em 0;
    
}
.carousel-control-next span, .carousel-control-prev span {
    padding: 1.5em;
    border-radius: 50%;
}
#wedo {
    margin: 1rem 8px;
    padding: 1rem 1.3rem;
    background-color: #e9d18e9d;
    background-image: linear-gradient(0deg, #FAD961 0%, #e9d18e9d 100%);
    border: .5px solid #010202;
}
.social-media {
    width: 75%;
    height: 35%;
    margin: 1.3rem auto .3rem;
}
.social-media a {
    display: inline;
    margin: auto 6px;
    padding: 1.3rem 20%;
    background: #fcfdf9;
    border-radius: 10%;
}
.wp-anchor {
    position: fixed;
    left: 75%;
    z-index: 999;
    top: 0;
}
.wp-anchor i {
    font-size: 3rem;
    margin: auto;
}
footer {
    height: 30%;
    width: 100%;
}

.container-footer {
   width: 100%;
   height: 80%;
}
.container-footer img {
    width: 100%;
    height: 50%;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}
a i:first-child {
    margin-top: 1rem;
}
a i {
    font-size: 1.8rem;
    display: flex;
    margin-bottom: 3.3rem;
    align-items: center;
    color: #9da17a;
    
}

@media only screen and (width < 900px) {
    .nav-container {
        display: none;
    }
    .responsive-container-menu {
        display: inline;
        width: max-content;
        top: 2%;
        left:1em; 
        position: absolute;
        height: calc(max-content + 300px);
        text-align: left;
    }
    .responsive-container-menu a {
        display: flex;
        margin: auto;
        color: #010202;
        justify-content: center;
        padding: 1rem 0;
        text-decoration: none;
        border-bottom: 1px solid #010202;
    }
    .menu-a-container small {
        text-align: center;
    }
    .responsive-container-menu h2 {
        width: fit-content;
    }
    .responsive-container-menu i {
        font-size: 2.5rem;
        padding-bottom: 2rem;
    }
    li button {
        width: 100%;
    }

    .container-header img {
        width: 80%;
        position: fixed;
        height: 5vh;
        margin: .8rem 0;
    }
}

@media only screen and (width < 750px) {
    .middle-page-section {
        text-align: center;
        margin: 1.2rem auto;
    }
    
    .carousel.slide {
        width: 100%
    }
    .carousel-item img {
        width: 100%;
        height: 100vh;
    }
    .social-media a {
        width: 90%;
    }
    
}