body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e9d18e9d;
    scroll-behavior: smooth;
}
.container-header {
    display: flex;
    margin: 1rem auto;
    padding: 3rem auto;
    width: 90%;
    height: 10vh;
}

.container-header img {
    width: 50%;
    position: fixed;
    z-index: 100;
    padding: 0 1.2rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    margin: 1.1rem 6rem;
    padding: 0 8px;
}

ul li {
    display: inline;
    padding: 0 2rem;
}
#about-us {
    margin-bottom: 1.3rem;
    padding: .3rem .4rem;
    box-shadow: 5px 2px 8px 3px #010202;
    width: 50%;
    background-color: #c4a1409d;
    height: max-content;
    margin: auto -1rem;
}
#about-us p {
    text-align: center;
    margin: 3rem 0;
    padding: 1.3rem 6em;
    font-size: 1.4rem;
    color: #ffededbd;
    letter-spacing: 1.1px;
    font-family: 'Bebas Neue', sans-serif;
}
#about-us small {
    display: flex;
    color: #ffededbd;
    justify-content: center;
}

button {
    background-color: #ffffff00;
    color: #50505062;
    font-weight: bolder;
    width: 9.5em;
    height: 2.9em;
    border: #010202 0.3px solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
    font-family: Kanit, 'sans-serif';
    -webkit-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);

}
button:hover {
    cursor: pointer;
    color: #08080e;
    transform: translateY(4px);
}
button svg {
    width: 1.5em;
    position: absolute;
    display: flex;
    justify-content: space-between;
    transition: all 0.6s ease;
}
button svg:hover {
    transform: translateX(3px);
    color: #08080e;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15%;
}
.hero-image img {
    width: 90%;
    border-radius: 10%;
    -webkit-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
}
.middle-page-section {
    display: flex;
    width: 90%;
    margin: 3.5rem 4rem;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    -webkit-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    box-shadow: 8x 15px 35px -1px rgba(0,0,0,0.75);
    background-image: url(./imgs/contact-us.jpg);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;    
    object-fit: cover;
}

.middle-page-section p {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bolder;
    color: #000000b0;
    z-index: 300;
    padding: 1.1em 2em;
    letter-spacing: .09em;
    text-align: center;
    font-size:clamp(1.4rem, 2rem, 3rem);
}
.middle-page-section article {
    margin: 1.4rem 0;
    font-family: Kanit, sans-serif;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 35px -1px rgba(0,0,0,0.75);
    box-shadow: 5x 10px 0px 1px rgba(0,0,0,0.75);
}
.middle-page-section article:nth-child(3) {
    transform: translateX(1%);
    overflow: hidden;
}
.middle-page-section article:nth-child(4) {
    transform: translateX(-1%);
    overflow: hidden;
    
}
.middle-page-section article p {
    padding: 3px 2rem;
    display: inline;
    border-radius: 1em;
    color: #080606be;
}
.carousel.slide {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.carousel-item img {
    width: 100%;
    height: 100vh;
}
.carousel-control-next, .carousel-control-prev {
    margin: auto;
    padding: 3.3em 0;
    
}
.carousel-control-next span, .carousel-control-prev span {
    padding: 1.5em;
    border-radius: 50%;
}
.social-media {
    width: 75%;
    height: 35%;
    margin: 1.3rem auto .3rem;
}
.social-media a {
    display: inline;
    margin: auto 6px;
    padding: 1.3rem 20%;
    background: #fcfdf9;
    border-radius: 10%;
}

footer {
    height: 40vh;
    width: 100%;
}

.container-footer {
    background-image: url(./imgs/footer-image.png);
    width: 100%;
    height: 190%;
    display: flex;
    background-position: left center;
    background-size:cover;
    background-repeat: no-repeat;
}
.container-footer a {   
    margin: 1.2rem auto;
    text-decoration:none;
}
a i:first-child {
    margin-top: 1rem;
}
a i {
    font-size: 1.8rem;
    display: flex;
    margin-bottom: 3.3rem;
    align-items: center;
    color: #9da17a;
    
}

@media only screen and (width < 900px) {
    .nav-menu ul{
        display: flex;
        flex-direction: column;
        padding: 6px 0;
    }
    ul {
        width: 80%;
        padding: 4px 2px;
    }
    li button {
        width: 100%;
    }

    .container-header img {
        width: 80%;
        position: fixed;
        height: 5vh;
        margin: .8rem 0;
    }
}

@media only screen and (width < 750px) {
    .middle-page-section {
        text-align: center;
        margin: 1.2rem auto;
    }
    .middle-page-section article p {
        padding: 3px 0;
    }
    .middle-page-section article:nth-child(3) {
        transform: translate(0);
    }
    .middle-page-section article:nth-child(4) {
        transform: translate(0);
    }
    .carousel.slide {
        width: 100%
    }
    .carousel-item img {
        width: 100%;
        height: 100vh;
    }
    
}